<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes">
    <test verbose="2" preserve-order="true" name="C:/WorkspaceJava/SeleniumDocker/src/test/java/org/example">
        <classes>
            <class name="org.example.TestClass1">
                <methods>
                    <include name="testcase_1"/>
                </methods>
            </class>
            <class name="org.example.TestClass2">
                <methods>
                    <include name="testcase_2"/>
                </methods>
            </class>
            <class name="org.example.TestClass3">
                <methods>
                    <include name="testcase_3"/>
                </methods>
            </class>
            <class name="org.example.TestClass4">
                <methods>
                    <include name="testcase_4"/>
                </methods>
            </class>
            <class name="org.example.TestClass5">
                <methods>
                    <include name="testcase_5"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>